.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
  }

  .choice-grid div {
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    width: 32.5%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
  }


  .choice-grid img {
    width: 100%;
 
  }

 
  .choice-grid div img.checkbox {
   width: 20px;
    height: 20px;
  }

.question-name{
    background-image: url('./images/Background.jpg');
    background-size: cover;

  }
 

  .choice-grid div.selected{
    background-color:#cfe3ff;
  }

  .opacity{
    opacity:0.6;
  }

  #result{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
  }

 #result h1{
    color: black;
    margin-bottom:18px;
    margin-top: 0px;
  }

  #result p{
    margin-bottom: 18px;
    margin-top: 18px;
  }

  .button{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#cecece;
    height:50px;
  }
  .button:hover{
    background-color:#e0e0e0;
  }
  .hidden{
    display: none;
  }
 @media (max-width: 700px) {
     header div span {
      display: none;
  }

    article {
      width: 95%;
  }
  
  }

   @media (max-width: 500px) {
      .choice-grid div {
        width: 49%;
  }
  }